<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="student" class="top.danbao.boot.basic.entity.Student">
        <property name="id" value="123"/>
        <property name="name" value="tom"/>
    </bean>
<!--    <bean id="student1" class="top.danbao.boot.basic.entity.Student">-->
<!--        <constructor-arg name="id" value="45"/>-->
<!--        <constructor-arg name="name" value="tony"/>-->
<!--    </bean>-->
</beans>